<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">PROJECT MANAGEMENT TOOLS</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashbord</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
      <!-- </ng-container> -->
    </ul>
  </div>
  </nav>
